.layout {
  display: grid;
  grid-template-columns: 300px minmax(0, 1fr);
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header header"
    "navbar main";
  min-height: 100dvh;
}

.layout > header {
  grid-area: header;
}

.layout > nav {
  grid-area: navbar;
}

.main {
  grid-area: main;
  padding: 32px;
  background: linear-gradient(180deg, #3333A3 5.09%, #121212 33.4%);
}

@media (max-width: 700px) {
  .main{
    padding: 8px;
  }
}