.search {
  position: relative;

}

.searchInput {
  padding: 16px 16px 16px 40px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-text-color);
  background: var(--background-input-color);
  border: 1px solid var(--border-input-color);
  border-radius: 4px;
}

.searchInput:focus-visible {
  outline: none;
}

.searchInputs::placeholder {
  color: var(--main-text-color);
}

.searchIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 6px;
}