.navbar {
  background: var(--background-navbar-color);
}

.container {
  padding: 0 30px;
  position: sticky;
  top: 80px;
}

.link,
.activeLink {
  background-color: var(--background-navbar-color);
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: background-color 0.2s;
}

.link:hover,
.activeLink:hover {
  background-color: color-mix(in srgb, var(--background-navbar-color), white 20%);
}

.link:active,
.activeLink:active {
  background-color: color-mix(in srgb, var(--background-navbar-color), white 25%);
}

.link svg,
.activeLink svg {
  width: 27px;
  height: 27px;
}

.activeLink {
  color: var(--main-text-color);
}
