.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;

  .pageButton {
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    background: #292929;
    border-radius: 4px;
    cursor: pointer;

    &Active {
      background: var(--btn-accent-color);
      cursor: default;
    }
  }
}

.ellipsis {
  user-select: none;
  cursor: default !important;;
}